/*standOutDupeCloseMigrated:*/
.duplicate, .closed, .migrated, .onhold{
    color: #FFF;
    padding: 2px;
    border-radius: 4px;
    font-size: 12px;
}
.duplicate {background: #FA0;}
.closed {background: #F00;}
.migrated {background: #19F;}
.onhold {background: #808080;}

/*metaNewQuestionAlert: */

.diamondOn {
    font-size: 1.7em;
    vertical-align: top;
    padding-top: 6px !important; /*!important because the 'links-container' class has a different value which I need to overide*/
    color: rgb(30, 126, 203);

}
         
.diamondOff{
    font-size: 1.7em;
    vertical-align: top;
    padding-top: 6px !important; /*!important because the 'links-container' class has a different value which I need to overide*/
    color: rgb(136, 136, 136);
}
         
@keyframes pulse {
    0% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
    50% {
        -ms-transform: scale(1.1, 1.15);
        -webkit-transform: scale(1.1, 1.15);
        transform: scale(1.1, 1.15)
    }
    100% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
}
@-webkit-keyframes pulse {
    0% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
    50% {
        -ms-transform: scale(1.1, 1.15);
        -webkit-transform: scale(1.1, 1.15);
        transform: scale(1.1, 1.15)
    }
    100% {
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
}

.diamondOn:hover, .diamondOff:hover {
    -webkit-animation-name: pulse;
    -webkit-animation-duration: .5s;
    animation-name: pulse;
    animation-duration: .5s
}

/*addHotText:*/
.SEAOF-hot {
     float:right; 
     -ms-transform: rotate(30deg); 
     -webkit-transform: rotate(30deg); 
     transform: rotate(30deg); 
     font-size: xx-large; 
     color: red;
}
         
/*editComment:*/
.editCommentDiv {
    display: inline-block;
    position: fixed;
    width: 500px;
    top: 10px;
    left: 50%;
    z-index: 2;
    margin-left: -250px;
    background-color: gray;
    color: white;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-align: center;           
}
         
/*quickCommentShortcutsMain:*/
.quickCommentShortcutsDiv {
    position: fixed !important;
    width: 90%;
    height: 80%;
    top: 10px;
    left: 50%;
    z-index: 2;
    margin-left: -250px;
    background-color: gray;
    color: white;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-align: center;
    overflow: auto;
}

.quickCommentShortcutsReminder {
    height: 40%;
    width: 13%;
    left: 0;
    top: 10%;
    position: fixed;
    background-color: gray;
    color: white;
    text-align: center;
    overflow: auto;
}
